.table__row
  .table__cell.table__cell_hd
    %span.table__cell-sort
      Company Name 1
  .table__cell.table__cell_hd
    %span.table__cell-sort
      City
  .table__cell.table__cell_hd
    %span.table__cell-sort.table__cell-sort_asc
      Users
  .table__cell.table__cell_hd
    %span.table__cell-sort.table__cell-sort_desc
      Divisions
  .table__cell.table__cell_hd
    %span.table__cell-sort
      Col 1
  .table__cell.table__cell_hd
    %span.table__cell-sort
      Col 2
  .table__cell.table__cell_hd
    %span.table__cell-sort
      Col 3
