.table__row
  .table__cell
    %span.badge-lbl
      %span.badge-lbl__icon
        L
      %span.badge-lbl__text
        Lorem ipsum
  .table__cell
    Lorem ipsum dolor sit amet
  .table__cell
    10,000
  .table__cell
    1000
  .table__cell
    Lorem ipsum dolor sit amet
  .table__cell
    200,000,000,000
  .table__cell
    Suspendisse sit amet
  .table__actions
    .table__actions-container
      %a.table__action.btn.btn-link{href: "#"} Manage Users
      %a.table__action.btn.btn-link{href: "#"} Edit Company
