.table__row
  .table__cell
    %span.badge-lbl
      %span.badge-lbl__icon
        B
      %span.badge-lbl__text
        BMW AG
  .table__cell
    Munich
  .table__cell
    26
  .table__cell
    3
  .table__cell
    Caribou
  .table__cell
    10,000,000
  .table__cell
    Orange
  .table__actions
    .table__actions-container
      %a.table__action.btn.btn-link{href: "#"} Manage Users
      %a.table__action.btn.btn-link{href: "#"} Edit Company
