.paginator
  %span.paginator__item.__prev
    %i.icon.__icon_xs.icon__arrow_l
  %span.paginator__item
    1
  %span.paginator__item
    2
  %span.paginator__item.__active
    3
  %span.paginator__item
    4
  %span.paginator__item
    5
  %span.paginator__item
    6
  %span.paginator__item
    7
  %span.paginator__item
    8
  %span.paginator__item
    %i.icon.__icon_xs.icon__arrow_r
