
button {
  cursor: pointer;
}

.btn {
  padding: 9px 15px;
  display: inline-block;
  font-family: $font-family;
  //font-weight: $btn-font-weight;
  color: $body-color;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: none;
  text-decoration: none;
  border-radius: 4px;
  white-space: nowrap;
  background-color: #fefefe;

  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  //border: $btn-border-width solid transparent;
  //@include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
  //@include transition($btn-transition);

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: none;
    //box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: .7;
    outline: 0;
    box-shadow: none;
    cursor: not-allowed;
    //pointer-events: none;
    //opacity: $btn-disabled-opacity;
    //@include box-shadow(none);
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    outline: 0;
    box-shadow: none;
    //@include box-shadow($btn-active-box-shadow);

    &:focus {
      outline: 0;
      box-shadow: none;
      //@include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }
}
.btn-primary {
  color: $white;
  background-color: $green;
  &:hover,
  &.hover {
    outline: 0;
    box-shadow: none;
    background-color: #2BA04B;
  }
  &:focus,
  &.focus {
    box-shadow: none;
    outline: 0;
    background-color: #51CE73;
    //box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    outline: 0;
    box-shadow: none;
    background-color: #B1C3B6;
    &:hover, &:focus, &:active {
      background-color: #B1C3B6;
    }
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    box-shadow: none;
    outline: 0;
    background-color: #51CE73;
    //@include box-shadow($btn-active-box-shadow);

    &:focus {
      box-shadow: none;
      outline: 0;
      background-color: #51CE73;
      //@include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }
}

.btn-danger {
  color: $white;
  background-color: $red;
  &:hover,
  &.hover {
    outline: 0;
    box-shadow: none;
    background-color: darken($red, 10%);
  }
  &:focus,
  &.focus {
    outline: 0;
    box-shadow: none;
    background-color: lighten($red, 10%);
    //box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    outline: 0;
    box-shadow: none;
    background-color: #B1C3B6;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    outline: 0;
    box-shadow: none;
    background-color: lighten($red, 10%);
    //@include box-shadow($btn-active-box-shadow);

    &:focus {
      outline: 0;
      box-shadow: none;
      background-color: lighten($red, 10%);
      //@include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }
}

.btn-secondary {
  color: $white;
  background-color: $grey-outlines;
  &:hover,
  &.hover {
    color: $white;
    outline: 0;
    box-shadow: none;
    background-color: darken($grey-outlines, 10%);
  }
  &:focus,
  &.focus {
    color: $white;
    outline: 0;
    box-shadow: none;
    background-color: lighten($grey-outlines, 10%);
    //box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    outline: 0;
    box-shadow: none;
    background-color: #B1C3B6;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    outline: 0;
    box-shadow: none;
    //@include box-shadow($btn-active-box-shadow);

    &:focus {
      outline: 0;
      box-shadow: none;
      background-color: #B1C3B6;
      //@include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }
}
.btn-ico {
  padding-right: 8px;
  padding-left: 8px;
  line-height: 0;
}
.btn-toggle {
  background-image: image-url('icon-chevron-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  &.btn-toggle_collapse {
    background-image: image-url('icon-chevron-up.svg');
  }
  &.btn-toggle_expand {
    background-image: image-url('icon-chevron-down.svg');
  }
}
.btn-link {
  padding: 0;
  font-weight: normal;
  color: $primary;
  text-decoration: underline;
  background-color: transparent;
  font-size: 14px;
  &:hover {
    color: $primary-darken;
    text-decoration: none;
  }
  &.btn-link_danger {
    color: $red;
  }
  &.btn-link_secondary {
    color: $grey-basic;
    text-decoration: none;
  }
}
//Tables:
.btn-tabular-solid {
  border: 1px solid $grey-dark;
  background-color: #fefefe;
  &.disabled:hover,
  &:disabled:hover {
    border: 1px solid $grey-dark;
    background-color: #fefefe;
  }
  &.__active,
  &:hover {
    border: none;
    background-color: $grey-dark;
  }
}
.btn-tabular-primary {
  border: 1px solid $primary;
  background-color: #fefefe;
  &.disabled:hover,
  &:disabled:hover {
    border: 1px solid $primary;
    background-color: #fefefe;
  }
  &.__active,
  &:hover {
    border: none;
    background-color: $primary;
    .icon svg {
      fill: $white;
    }
  }
}

.btn-tabular-secondary {
  border: 1px solid $grey-darken;
  background-color: #fefefe;

  &.disabled:hover,
  &:disabled:hover {
    border: 1px solid $grey-darken;
    background-color: #fefefe;
  }
  &.__active,
  &:hover {
    border: none;
    background-color: $grey-darken;
  }
}
.btn-tabular-danger {
  border: 1px solid $red;
  background-color: #fefefe;

  &.disabled:hover,
  &:disabled:hover {
    border: 1px solid $red;
    background-color: #fefefe;
  }

  &.__active,
  &:hover {
    border: none;
    background-color: $red;
  }
}

// Button Sizes:
.btn-sm {
  padding: 8px;
  font-size: 12px;
  line-height: 16px;
}
.btn-xs {
  padding: 0;
  margin: 0;
  height: 24px;
  width: 24px;
}
