.footer {
  padding: 12px 0 8px;
  background-color: $grey-borders;
  //position: fixed;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-nav {
  margin: 0 0 6px 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.footer-nav__itm {
  display: inline-block;
  &:before{
    margin: 0 4px;
    content: '|';
    color: $white;
  }
  &:first-child:before {
    content: ''
  }
}
.footer-nav__itm-link {
  color: $white !important;
  font-family: $font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;

  &:hover {
    text-decoration: underline !important;
  }
}

.copyright {
  text-align: center;
  color: $grey-basic;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
