.header {
  margin: 0 0 24px;
  background-color: $white;
  height: 56px;
  //position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.10);
}
.header .logo {
  padding-top: 12px;
}
.logo-link {
  color: $body-color;
  text-decoration: none;
}
.header__nav {
  float: right;
  display: flex;
  align-items: center;
  height: 100%;
}

.header__nav-itm {
  margin: 0 8px;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: $white;

  .header__nav-alert {
    height: 14px;
    width: 14px;
    display: block;
    border-radius: 50%;
    line-height: 14px;
    background-color: $red;
    font-size: 9px;
    text-decoration: none !important;
    text-align: center;
    color: $white;
    position: absolute;
    right: -2px;
    top: -3px;
    opacity: 0;
    font-style: normal;

  }
  &.__has-alert{
    .header__nav-alert {
      opacity: 1;
    }
  }
}

.login-panel {
  padding: 10px 0;
  float: right;
}
.login-panel > .btn {
  margin-left: 16px;
}
