.table {
  width: 100%;
}
.table_type_data {

}
.table__row {
  display: flex;
  position: relative;
  flex-direction: row;
  border-bottom: 1px solid $grey-borders;
}
.tbody .table__row:hover {
  background-color: $grey-borders;
  cursor: pointer;
}

.table__cell {
  padding: 24px 16px;
  min-height: 32px;
  flex-grow: 1;
  flex-basis: 0;
  align-self: flex-start;
  font-size: 16px;
  &:first-child {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.table__cell_hd {
  font-size: 14px;
}
.table__cell-sort {
  color: $black;
  position: relative;
  &:hover {
    text-decoration: underline;
    color: $black;
    cursor: pointer;
  }
}
.table__cell-sort:before {
  content: '';
  width: 10px;
  height: 10px;
  background-position:  center;
  background-repeat: no-repeat;
  position: absolute;
  left: 100%;
  margin-left: 5px;
  top: 50%;
  margin-top: -6px;
}
.table__cell-sort_asc:before {
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 5L7.4641 0.5H0.535898L4 5Z' fill='black'/%3E%3C/svg%3E%0A");
}
.table__cell-sort_desc:before {
  margin-top: -4px;
  transform: rotate(180deg);
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 5L7.4641 0.5H0.535898L4 5Z' fill='black'/%3E%3C/svg%3E%0A");
}

.table__actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  opacity: 0;
  transition: opacity .1s ease-in-out;
}
.table__row:hover .table__actions {
  opacity: 1;
}
.table__actions-container {
  padding: 24px;
  min-height: 32px;
  min-width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  background: linear-gradient(to right, rgba(241,241,243,0) 0%, rgba(241,241,243,1) 20%);
}
.table__action.btn.btn-link {
  padding: 4px 8px;
  margin-left: 8px;
  &:hover {
    background: rgba(159, 193, 168, .25);
  }
}



// Table Widget header
.table-widget__hd {
  display: flex;
  .table-widget__txt {flex-grow: 1; padding-top: 6px; margin-bottom: 16px;}
  .table-widget__actions {
    display: flex;
    height: 36px;
    .select-control.__table_dd {
      margin-right: 16px;
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 24px;
      background-color: #fff;
      font-size: 14px;
      height: 36px;
    }
    .input-control.__table_filter {
      margin-left: 16px;
      padding: 4px 8px;
      font-size: 14px;
      height: 36px;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      border-right: none;
      background-color: $white;

      &:focus + .btn {
        border-color: $green;
      }

      +.btn {
        height: 36px;
        border: 1px solid $grey-basic;
        background-color: $white;
        padding: 4px 8px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-left: none;

        .icon {
          width: 18px;
          height: 18px;
          background-size: 100%;
        }
      }
    }
  }
}
