body {
  min-height: 100%;
  background: #F9F9FB;
  font-family: $font-family;
  color: $body-color;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  color: $body-color;
}

h1 {
  margin: 0 0 24px 0;
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.25;
}
h2 {
  margin: 0 0 20px 0;
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.25;
}
h3 {
  margin: 0 0 16px 0;
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 125%;
}
h4 {
  margin: 0 0 12px 0;
  font-family: $font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
}
h5 {
  margin: 0 0 8px 0;
  font-family: $font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
h6 {
  margin: 0 0 8px 0;
  font-family: $font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

p {
  margin: 0 0 16px 0;
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
}
a {
  color: $green;
  &:hover, &:focus {
    text-decoration: underline;
    color: $green;
  }
}

.__content-spaced {
  margin-bottom: 38px;
}

.text-grp {
  margin-bottom: 16px;
    color: $grey;
  .text-grp__lbl{
    margin-bottom: 2px;
    color: $grey-basic;
    font-size: 12px;
    line-height: 16px;
  }
  .text-grp__value{
    font-size: 14px;
    line-height: 1.25;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    > a {
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

._text_weight_bold {
  font-weight: 500;  //Bold Text
}
._text_color_primary {
  color: $primary;  //Primary Green
}
._text_color_primary-lighten {
  color: $primary-lighten;  //Primary Lighter
}
._text_color_primary-darken {
  color: $primary-darken;  //Primary Darker
}
._text_color_primary-dimmed {
  color: $primary-dimmed;  //Primary Green Dimmed
}
._text_color_black {
  color: $black; //Black
}
._text_color_grey {
  color: $grey-basic; //Grey
}
._text_color_grey-lighten {
  color: $grey-lighten; //Light Grey
}
._text_color_grey-darken {
  color: $grey-darken;  //Dark Grey
}

._text_color_grey-dimmed {
  color: $grey-dimmed;  //Dimmed Grey
}
