//Color System:
//Colors that are used;
$white:             #fff;
$grey:              #4A4A4B;
$grey-ultra-light:  #F3F4F7;
$grey-dark:         #4A4A4B;
$grey-darker:       #233443;
$grey-outlines:     #A5A6AD;
$grey-text:         #979AA7;
$green:             #35BA59;
$green-lighter:     #51CE73;
$red:               #E21D1D;
$red-darken:        #B51717;

$black:             #000;

//Utilitsry functional colors;

//Primary (Green);
$primary:            $green;
$primary-lighten:    #54CE75;
$primary-darken:     #2A9346;
$primary-dimmed:     #9FC1A8;

//Greys:
$grey-basic:         #A5A6AD;
$grey-lighten:       #F3F4F7;
$grey-darken:        #9B9FB5;
$grey-dimmed:        #C7C7C7;
$grey-body:          #F9F9FB;
$grey-borders:       #F1F1F3;

//Statuses:
$color-status-success:  $green;
$color-status-error:    $red;
$color-status-ignore:   $grey-basic;

//Typography:
$font-family:    'Roboto', sans-serif;
$body-color:     $grey-dark;
$controls-color: $grey-darker;
$controls-txt:   $grey-text;
$border-color:   $grey-borders;

//Grid

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12 !default;
$grid-gutter-width:           16px !default;
