%tr.table-row
  %th.table-cell-hd
    Company Name
  %th.table-cell-hd
    %span.table-cell-hd__sortable.__sort_none
      City
  %th.table-cell-hd
    %span.table-cell-hd__sortable.__sort_none
      Users
  %th.table-cell-hd
    %span.table-cell-hd__sortable.__sort_none
      Divisions
    %th.table-cell-hd
