%tr.tr
  %td.table-cell
    %span.company-avatar
      B
    BMW AG
  %td.table-cell
    Munich
  %td.table-cell
    26
  %td.table-cell
    3
  %td.table-cell.table-cell_actions
    .table-cell__actions-container
      %button.btn.btn-link Manage Users
      %button.btn.btn-link Edit Company
