.header
  .container-fluid.__size_full_width
    .row.justify-content-center
      .col-md-12
        .logo
          %a.logo-link{href: "index.html"}
            %img{src: "assets/images/logo.svg"}
        .login-panel
          %button.btn.btn-link Logout
