%ul.sidebar-nav
  %li.sidebar-nav__item.__active
    %a.sidebar-nav__link{href: "index.html"}
      0. Styleguide
  %li.sidebar-nav__item
    %a.sidebar-nav__link{href: "01-registration.html"}
      01. Registration
  %li.sidebar-nav__item
    %a.sidebar-nav__link{href: "02-login.html"}
      02. Login
  %li.sidebar-nav__item
    %a.sidebar-nav__link{href: "03-password-recovery-email.html"}
      03. Forgot Password
  %li.sidebar-nav__item
    %a.sidebar-nav__link{href: "04-password-recovery.html"}
      04. Reset Password
  %li.sidebar-nav__item
    %a.sidebar-nav__link{href: "05-start.html"}
      05. Blank Page
  %li.sidebar-nav__item
    %a.sidebar-nav__link{href: "06-upload-1.html"}
      06. Upload Page
  %li.sidebar-nav__item
    %a.sidebar-nav__link{href: "07-error-states.html"}
      07. Form Errors
  %li.sidebar-nav__item
    %a.sidebar-nav__link{href: "08-tabular-listing.html"}
      08. Tabular Listing
  %li.sidebar-nav__item
    %a.sidebar-nav__link{href: "09-tabular-processing.html"}
      09. Transactions Processing
  %li.sidebar-nav__item
    %a.sidebar-nav__link{href: "#"}
      Transaktionen hinzufüge.
