@@include('./partials/head/_head.html')
  %body
    @@include('./partials/header/_header__login.html')
    .container
      .sidebar-content-wrapper
        .sidebar-left
          @@include('./partials/sidebar-nav/_sidebar-nav.html')
        .content-wrapper
          .row
            .col-lg-9.col-md-12
              .box-panel
                Content
  @@include('./partials/footer/_footer.html')
    @@include('./partials/footer/_footer.html')
