@@include('./partials/head/_head.html')
  %body
    @@include('./partials/header/_header__auth_wide.html')
    .container-fluid.__size_full_width
      .sidebar-content-wrapper
        .sidebar-left
          @@include('./partials/sidebar-nav/_sidebar-nav.html')
        .content-wrapper
          .row
            .col-md-12
              .box-panel
                Content
    @@include('./partials/footer/_footer.html')
