@@include('./partials/head/_head.html')
  %body
    @@include('./partials/header/_header__auth.html')
    .container
      .sidebar-content-wrapper
        .sidebar-left
          %ul.sidebar-nav
            %li.sidebar-nav__item.sidebar-nav__item_back
              %a.sidebar-nav__link{href: "#"}
                %i.icon.__icon_xs.icon__back
                Back to list
            %li.sidebar-nav__item
              %a.sidebar-nav__link{href: "#"}
                Company information
            %li.sidebar-nav__item.__active
              %a.sidebar-nav__link{href: "#"}
                Users
        .content-wrapper
          .row
              .col-lg-9.col-md-12
                %h1 Edit Company
                .box-panel
                  %form
                    %h3 Setup company admin
                    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor lobortis purus, vestibulum congue lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor lobortis purus, vestibulum congue lacus.
                    .fields-grp
                      .fields-grp__hd
                        .fields-grp__ttl
                          Admin
                        .fields-grp__actions
                          %button.btn.btn-xs.btn-ico.btn-secondary
                            %i.icon.__icon_xs.icon__remove
                          %button.btn.btn-xs.btn-ico.btn-primary
                            %i.icon.__icon_xs.icon__add
                      .fields-grp__body
                        .input-grp
                          .row
                            .col-md-6
                              %label.input-grp__lbl First Name
                              %input.input-control.__text{type: "text", value: "Manfred"}
                            .col-md-6
                              %label.input-grp__lbl Last Name
                              %input.input-control.__text{type: "text", value: "Bischoff"}
                        .input-grp
                            .row
                              .col-md-6
                                %label.input-grp__lbl Email
                                %input.input-control.__text.__state-error.__state-error_show-icon{type: "text", value: "mbis@amg.de"}
                                %small.control-info.__state-error
                                  *Invalid email address
                              .col-md-3
                                %label.input-grp__lbl Position
                                %input.input-control.__text{type: "text", value: "Support"}
                              .col-md-3
                                %label.input-grp__lbl User Role
                                %select.select-control{}
                                  %option Choose..
                                  %option{selected: "selected"} Admin
                                  %option User
                    .fields-grp
                      .fields-grp__hd
                        .fields-grp__ttl
                          Admin
                        .fields-grp__actions
                          %button.btn.btn-xs.btn-ico.btn-secondary
                            %i.icon.__icon_xs.icon__remove
                          %button.btn.btn-xs.btn-ico.btn-primary
                            %i.icon.__icon_xs.icon__add
                      .fields-grp__body
                        .input-grp
                          .row
                            .col-md-6
                              %label.input-grp__lbl First Name
                              %input.input-control.__text{type: "text", value: "Don"}
                            .col-md-6
                              %label.input-grp__lbl Last Name
                              %input.input-control.__text{type: "text", value: "Draper"}
                        .input-grp
                            .row
                              .col-md-6
                                %label.input-grp__lbl Email
                                %input.input-control.__text.__state-success_show-icon{type: "text", value: "don_draper@sterlingcooper.us"}
                              .col-md-3
                                %label.input-grp__lbl Position
                                %input.input-control.__text{type: "text", value: "Partner"}
                              .col-md-3
                                %label.input-grp__lbl User Role
                                %select.select-control{}
                                  %option Choose..
                                  %option Admin
                                  %option{selected: "selected"} User
                    .fields-grp
                      .fields-grp__hd
                        .fields-grp__ttl
                          Admin
                        .fields-grp__actions
                          %button.btn.btn-xs.btn-ico.btn-secondary
                            %i.icon.__icon_xs.icon__remove
                          %button.btn.btn-xs.btn-ico.btn-primary
                            %i.icon.__icon_xs.icon__add
                      .fields-grp__body
                        .input-grp
                          .row
                            .col-md-6
                              %label.input-grp__lbl First Name
                              %input.input-control.__text{type: "text", placeholder: "E.g. John"}
                            .col-md-6
                              %label.input-grp__lbl Last Name
                              %input.input-control.__text{type: "text", placeholder: "E.g. Johnson"}
                        .input-grp
                            .row
                              .col-md-6
                                %label.input-grp__lbl Email
                                %input.input-control.__text.__state-progress_show-icon{type: "text", placeholder: "Email"}
                              .col-md-3
                                %label.input-grp__lbl Position
                                %input.input-control.__text{type: "text", placeholder: "E.g Manager"}
                              .col-md-3
                                %label.input-grp__lbl User Role
                                %select.select-control{}
                                  %option Choose..
                                  %option Admin
                                  %option User
                    .input-grp.input-grp__submit
                      %button.btn.btn-link.btn-link_secondary{for: "group-2", href: "#"} Discard changes
                      %button.btn.btn-primary{for: "group-2"} Save
    @@include('./partials/footer/_footer.html')
