@@include('./partials/head/_head.html')
  %body
    @@include('./partials/header/_header__auth.html')
    .container
      .sidebar-content-wrapper
        .sidebar-left
          %ul.sidebar-nav
            %li.sidebar-nav__item.sidebar-nav__item_back
              %a.sidebar-nav__link{href: "#"}
                %i.icon.__icon_xs.icon__back
                Back to list
            %li.sidebar-nav__item.__active
              %a.sidebar-nav__link{href: "#"}
                Company information
            %li.sidebar-nav__item
              %a.sidebar-nav__link{href: "#"}
                Users
        .content-wrapper
          .row
              .col-lg-9.col-md-12
                %h1 Edit Company
                .box-panel
                  %form
                    %h3 Company information
                    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor lobortis purus, vestibulum congue lacus. Fusce vitae tempus arcu.
                    .input-grp
                      .row
                        .col-md-6
                          %label.input-grp__lbl Company Name
                          %input.input-control.__text{type: "text", placeholder: "Company Name"}
                        .col-md-6
                          %label.input-grp__lbl Email
                          %input.input-control.__text{type: "text", placeholder: "Email"}
                    .input-grp
                        .row
                          .col-md-6
                            %label.input-grp__lbl Country
                            %select.select-control{}
                              %option Choose..
                              %option U.S.A.
                              %option Germany
                          .col-md-2
                            %label.input-grp__lbl ZIP Code
                            %input.input-control.__text{type: "text", placeholder: "ZIP"}
                          .col-md-4
                            %label.input-grp__lbl Phone
                            %input.input-control.__text{type: "text", placeholder: "Phone"}
                    .input-grp
                      .row
                        .col-md-6
                          %label.input-grp__lbl City
                          %input.input-control.__text{type: "text", placeholder: "City"}
                        .col-md-6
                          %label.input-grp__lbl Address
                          %input.input-control.__text{type: "text", placeholder: "Address"}
                    %h3 Service permissions
                    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor lobortis purus, vestibulum congue lacus. Fusce vitae tempus arcu. Integer maximus quis purus vitae fringilla. In gravida sed magna vel pharetra.
                    .input-grp
                      .row
                        .col-md-6
                          .checkbox
                            %input.checkbox__input#prop-1{type: "checkbox"}
                            %label.checkbox__lbl{for: "prop-1"} Privacy Policy Module
                          .checkbox
                            %input.checkbox__input#prop-2{type: "checkbox"}
                            %label.checkbox__lbl{for: "prop-2"} Cookies Policy Module
                          .checkbox
                            %input.checkbox__input#prop-3{type: "checkbox"}
                            %label.checkbox__lbl{for: "prop-3"} Terms and Conditions Module
                          .checkbox
                            %input.checkbox__input#prop-4{type: "checkbox"}
                            %label.checkbox__lbl{for: "prop-4"} EULA Module
                        .col-md-6
                          .checkbox
                            %input.checkbox__input#prop-5{type: "checkbox"}
                            %label.checkbox__lbl{for: "prop-5"} Return & Refund Policy Module
                          .checkbox
                            %input.checkbox__input#prop-6{type: "checkbox"}
                            %label.checkbox__lbl{for: "prop-6"} Disclaimer Module
                          .checkbox
                            %input.checkbox__input#prop-7{type: "checkbox"}
                            %label.checkbox__lbl{for: "prop-7"} Cookie Consent
                    .input-grp.input-grp__submit
                      %button.btn.btn-link.btn-link_secondary{for: "group-2", href: "#"} Discard changes
                      %button.btn.btn-primary{for: "group-2"} Save
    @@include('./partials/footer/_footer.html')
